# Ignore virtual environment
venv/
estateenv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE/editor settings
.vscode/
*.code-workspace

# Ignore generated PDFs and QR codes (optional)
pdf_outputs/
assets/qrcodes/

# Ignore environment variables file (if used later)
.env
main.py
admin_panel.py
client_login.py
client_record.py
qr_generator.py

# ⛔ Fonts & icons
fonts/
OIP.ico